@model ProgramAdminCreateViewModel

<h3 class="ml-2">Create Program</h3>

<form asp-controller="Programs" asp-action="Create" method="post" class="ml-2" style="width:600px;">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="text-dark" asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="text-dark" asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="text-dark" asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group ml-0">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control col-md-12" asp-for="Type" asp-items="@(Html.GetEnumSelectList<ProgramType>())">
                <option selected="">@Model.Type</option>
            </select>
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MembershipType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control col-md-12" asp-for="MembershipType" asp-items="@(Html.GetEnumSelectList<MembershipType>())">
                <option selected="">@Model.MembershipType</option>
            </select>
            @Html.ValidationMessageFor(model => model.MembershipType, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group ml-1">
        @Html.DropDownListFor(x => x.Categories, new SelectList(Model.Categories), "View categories...", new { @style = "width:500px" })
    </div>
    <div class="form-group">
        <label class="text-dark" asp-for="CategoryId"></label>
        <input asp-for="CategoryId" class="form-control" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<br />
<div>
    <a class="bg-success ml-2" asp-area="Administrator" asp-controller="Home" asp-action="Index">Back to admin home</a>
</div>