@model IEnumerable<PopularPostsHomeViewModel>
<!-- news-area start -->

<div class="news-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title title-padding text-center">
                    <p class="subtitle">Calisthenic News For You</p>
                    <h1 class="title">Latest News</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-sm-12 col-11 news-slider text-center">
                @foreach (var post in Model)
                {
                    <div class="news-item-style-01">
                        <div class="thumb">
                            <img src="@post.ImageUrl" alt="news">
                        </div>
                        <div class="content">
                            <div class="blog-meta">
                                <h6 class="d-flex justify-content-between"><i class="fa fa-user-o" aria-hidden="true"></i>@post.AuthorName<i class="fa fa-comment-o" aria-hidden="true"></i>@(post.Rating == null ? 0 : post.Rating)</h6>
                            </div>
                            <h3><a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h3>
                            <p>@post.Description.Substring(0, 20)...</p>
                        </div>
                        <div class="hover-content">
                            <span class="border-bottom">@post.CreatedOn.ToString("dd/MM/yyyy")</span><br>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<!-- news-area end -->
