@page
@model RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] Register</title>
    <!-- favicon -->
    <link rel=icon href=~/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- tag-helpers-colors -->
    <link rel="stylesheet" href="~/assets/css/tag-helpers-color.css">
    <!-- animate -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/assets/css/slick.css" />
    <link rel="stylesheet" href="~/assets/css/slick-theme.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="~/assets/css/hamburgers.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>

    <partial name="~/Views/Shared/Partials/_AccountNavbarPartial.cshtml" />

    <!-- signup area start -->
    <section class="sign-area">
        <div class="container-fluid no-gutter">
            <div class="row no-gutter">
                <div class="col-xl-4 col-lg-6 offset-xl-2">
                    <div class="sign-slider">
                        <div class="thumb">
                            <img class="w-100" src="/assets/img/signin/05.jpg" alt="">
                        </div>
                        <div class="thumb">
                            <img class="w-100" src="/assets/img/signin/02.jpg" alt="">
                        </div>
                        <div class="thumb">
                            <img class="w-100" src="/assets/img/signin/03.jpg" alt="">
                        </div>
                        <div class="thumb">
                            <img class="w-100" src="/assets/img/signin/04.jpg" alt="">
                        </div>
                        <div class="thumb">
                            <img class="w-100" src="/assets/img/signin/01.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="sign-content text-center h-100">
                        <div class="thumb">
                            <h3>My Calisthenic App</h3>
                        </div>
                        <h3>Join our community!</h3>
                        <p>Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        @*<a class="btn btn-primary btn-lg btn-block" name="provider" value="@provider.Name"><i class="fa fa-facebook-square"></i>  Log in via @provider.DisplayName</a>*@
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account"><i class="fab fa-facebook">@provider.DisplayName</i></button>
                                    }
                                </p>
                            </div>
                        </form>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6 text-left">
                                    <label asp-for="Input.FirstName"></label>
                                    <input asp-for="Input.FirstName" type="text" class="form-control" id="fname">
                                    <span asp-validation-for="Input.FirstName"></span>
                                </div>
                                <div class="form-group col-md-6 text-left">
                                    <label asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" type="text" class="form-control" id="lname">
                                    <span asp-validation-for="Input.LastName"></span>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" type="email" class="form-control" id="email">
                                <span asp-validation-for="Input.Email"></span>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" type="password" class="form-control" id="password">
                                <span asp-validation-for="Input.Password"></span>
                            </div>
                            <div class="form-group text-left">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="password">
                                <span asp-validation-for="Input.ConfirmPassword"></span>
                            </div>
                            <button type="submit" class="btn btn-success btn-lg btn-block text-white">Join our community</button>
                            <input type="radio" asp-for="Input.AcceptPrivacy" value="true" /><p>By clicking, you agree to the <a asp-controller="Home" asp-action="Privacy">Terms</a> and <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.</p>
                            <span asp-validation-for="Input.AcceptPrivacy"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- signup area end -->

    <partial name="~/Views/Shared/Partials/_BrandAreaPartial.cshtml" />

    @await Html.PartialAsync("~/Views/Shared/Partials/_SubscribePartial.cshtml", new SubscribeInputViewModel());

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->
    <!-- jquery -->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="~/assets/js/nice-select.js"></script>
    <!-- counter up -->
    <script src="~/assets/js/counter-up.js"></script>
    <!-- owl carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Slick -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="~/assets/js/slick-animation.js"></script>
    <!-- waypoint -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="~/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/script.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
