@model IEnumerable<ProductsHomePopularViewModel>
<!-- home shopping start -->

<div class="row">

    <div class="col-lg-12 shopping-slider shopping-slider-item text-center">
        @foreach (var product in Model)
        {
            <div class="shop-single-item">
                <div class="top-content">
                    <div class="thumb">
                        <img src="@product.ImageUrl" alt="shopping">
                    </div>
                    <div class="hover-content">
                        <div class="btn-wrapper desktop-center">
                            <a asp-controller="ShoppingBags" asp-action="Index" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="bottom-content">
                    <p class="subtitle">@product.Category</p>
                    <h3><a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h3>
                    <p class="price">
                        <ins>
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>@product.Price
                            </span>
                        </ins>
                        <del>
                            <span class="woocommerce-Price-amount amount">
                                @{ decimal discountPrice = product.Price + (product.Price * 0.2M);

                                }
                                <span class="woocommerce-Price-currencySymbol">$</span>@discountPrice.ToString("0.00")
                            </span>
                        </del>
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- home shopping end -->
