@model IList<AddressesAdminViewModel>
<div style="height:500px;overflow-x:scroll">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Is deleted</th>
                <th scope="col">Deleted on</th>
                <th scope="col">Created on</th>
                <th scope="col">Modified on</th>
                <th scope="col">Country</th>
                <th scope="col">Description</th>
                <th scope="col">Street</th>
                <th scope="col">Building number</th>
                <th scope="col">City id</th>
                <th scope="col">City</th>
                <th scope="col">Post code</th>
                <th scope="col">User id</th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 0;
            }
            @foreach (var address in Model)
            {
                counter++;

                <tr>
                    <td class="btn btn-danger mb-2 mt-1 ml-2">@Html.ActionLink("Edit", "Edit", "Addresses", new { id = address.Id })</td>
                    <th scope="row">@counter</th>
                    <td>@address.Id</td>
                    <td>@address.IsDeleted</td>
                    <td>@address.DeletedOn</td>
                    <td>@address.CreatedOn</td>
                    <td>@address.ModifiedOn</td>
                    <td>@address.Country</td>
                    <td>@address.Description</td>
                    <td>@address.Street</td>
                    <td>@address.BuildingNumber</td>
                    <td>@address.CityId</td>
                    <td>@address.City.Name</td>
                    <td>@address.City.PostCode</td>
                    <td>@(address.UserId)</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<br />
<div>
    <a class="bg-success ml-2" asp-area="Administrator" asp-controller="Home" asp-action="Index">Back to admin home</a>
</div>