@model PostDetailsViewModel
@{
    ViewData["Title"] = "Blog-Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1" style="background-image:url(/assets/img/bg/blog-details.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Blog Details</h1>
            <ul class="page-list margin-bottom-4">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Posts" asp-action="Details">Blog Details</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- home blog start -->
    <div class="blog-details-area margin-top-100">
        <main id="main" class="site-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <article class="blog-details">

                            @if (Model.VideoUrl != null)
                            {
                                <iframe width="730" height="400" src="@Model.VideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            }
                            else
                            {
                                <div class="blog-img">
                                    <img src="@Model.ImageUrl" class="attachment-siiimple_full size-siiimple_full wp-post-image" alt="">
                                </div>
                            }

                            <div class="blog-details-content">

                                <h6>@Model.CreatedOn.ToString("dd/MM/yyyy")<span>Admin-@Model.Author</span></h6>
                                <h2>@Model.Title</h2>
                                <p>@Model.Description</p>
                            </div>
                        </article>

                        <a  asp-controller="Posts" asp-action="Rate" asp-route-id="@Model.Id" class="btn-primary p-1 pl-3 pr-3">Like</a>
                        <p class="text-dark mt-2"><i style="color:dodgerblue;font-size:22px;" class="fa fa-thumbs-up"></i><a class="text-dark" id="likes">@(Model.Rating == null ? 0 : Model.Rating)</a></p>

                        <div id="comments" class="comments-area comments-area-wrapper">
                            <h4 class="comments-title">Comments</h4>
                            @foreach (var comment in Model.Comments.OrderByDescending(c => c.CreatedOn))
                            {
                                <ul class="comment-list">
                                    <li class="comment">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                                <div class="desc">
                                                    <div class="d-flex justify-content-between comment_title">
                                                        <div class="d-flex align-items-center">
                                                            <h5>@comment.Author.FirstName&nbsp;@comment.Author.LastName</h5>
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>@comment.Text</p>
                                                    </div>
                                                    <span class="text-dark">@comment.CreatedOn.ToString("dd/MM/yyyy")</span><br /><br />
                                                    <a asp-controller="Comments" asp-action="Rate" asp-route-id="@comment.Id" class="btn-primary pt-1 pb-1 pl-2 pr-2" style="font-size:15px;">Like</a>
                                                    <p class="text-dark mt-2"><i style="color:dodgerblue;font-size:22px;" class="fa fa-thumbs-up"></i><a class="text-dark" id="likes">@(comment.Rating == null ? 0 : comment.Rating)</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }

                            <div id="respond" class="comment-respond">
                                <h3 class="comment-reply-title">Leave A Reply</h3>

                                @await Html.PartialAsync("~/Views/Shared/Partials/_CommentPartial.cshtml",
                                         new CommentInputViewModel { Id = Model.Id })

                            </div>

                        </div>
                    </div>

                    @await Component.InvokeAsync("SideBar", new PostDetailsSidebarViewModel())
                </div>
            </div>
        </main>
    </div>
   
    <!-- back to top area end -->
    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>

</body>
</html>