@model PostPageViewModel

@{
    ViewData["Title"] = "Blog";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- videoplayer -->
    <link rel="stylesheet" href="/assets/css/rvideoplayer.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1 blog-breadcrumb-overlay" style="background-image:url(/assets/img/blog/bg.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Latest News</h1>
            <ul class="page-list margin-bottom-10">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Posts" asp-action="Index">Blog</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- home blog start -->
    <div class="blog-details-area margin-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-single-item">
                                <div class="row">
                                    @foreach (var post in Model.PaginatedPosts().OrderByDescending(p => p.CreatedOn))
                                    {
                                        <div class="col-lg-4">
                                            <div class="blog-item-inner">
                                                <div class="blog-detail">
                                                    <div class="blog-meta">
                                                        <h6>@post.CreatedOn.ToString("dd/MM/yyyy")<span class="float-right text-right">Admin-@post.Author</span></h6>
                                                    </div>
                                                    <h5><a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h5>
                                                    <p>@post.Title</p>
                                                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="blog-more">Read More</a>
                                                </div>
                                                <div class="blog-img">
                                                    <img src="@post.ImageUrl" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <ul class="pagination">
                                @for (int i = 1; i <= Model.PageCount(); i++)
                                {
                                    <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("SideBar", new PostPageViewModel())

            </div>
        </div>
    </div>

    <!-- back to top area end -->
    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- rvideoPlayer -->
    <script src="/assets/js/jquery.rvideoPlayer.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>

</body>
</html>