@model ProgramDetailsViewModel
@{
    ViewData["Title"] = "Program-Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>
<body>
    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1 class-details-breadcrumb-overlay" style="background-image:url(/assets/img/bg/program-details.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Program Details</h1>
            <ul class="page-list margin-bottom-0 margin-top-3">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Programs" asp-action="Details">Program Details</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- class details start -->

    <div class="class-details-area">
        <main id="main" class="site-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="class-details">
                            <div class="class-img">
                                <img src="@Model.ImageUrl" class="attachment-siiimple_full size-siiimple_full wp-post-image" alt="">
                            </div>
                        </div>
                        <!-- biography area -->
                        <div class="biography-area margin-top-60">
                            <div class="biography-content">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a data-toggle="pill" href="#home" class="active">Overview</a>
                                    </li>
                                    <li>
                                        <a data-toggle="pill" href="#menu1">Exercises</a>
                                    </li>
                                    <li>
                                        <a data-toggle="pill" href="#menu2">Review</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active show">
                                        <div class="tab-content-description">
                                            <div class="class-content">
                                                <h2 class="margin-top-5">@Model.Title</h2>
                                                <p style="color:red;">@Model.MembershipType.ToString()</p>
                                                <p>@Model.Description</p>
                                            </div>
                                            <div class="class-list d-sm-flex justify-content-between">
                                                <ul>
                                                    <li><<i class="fa fa-check"></i> Pellentesque pellentesque odio et porta.</li>
                                                    <li><<i class="fa fa-check"></i> Proin et augue et justo accumsan.</li>
                                                    <li><i class="fa fa-check"></i> Donec viverra urna id congue.</a></li>
                                                </ul>
                                                <ul>
                                                    <li><i class="fa fa-check"></i> Pellentesque pellentesque odio et porta.</li>
                                                    <li><i class="fa fa-check"></i> Proin et augue et justo accumsan.</li>
                                                    <li><i class="fa fa-check"></i> Donec viverra urna id congue.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <div class="tab-content-description">
                                            <h2 class="margin-top-10 margin-bottom-30">Workouts</h2>
                                            @foreach (var exercise in Model.Category.Exercises)
                                            {
                                                <div class="d-flex justify-content-between align-items-center text-center margin-bottom-15">
                                                    <h4 class="course-overview"><img src="@exercise.ImageUrl" alt="exercise-image" height="120" width="200">&nbsp; @exercise.Name</h4>
                                                    <p style="color:red;">@Model.Type.ToString()</p>
                                                    <div class="curiculam-right d-flex align-items-center">
                                                        <div class="btn-wrapper">
                                                            <a href="@exercise.VideoUrl" class="btn btn-element btn-normal-size btn-black-color">Preview</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <h5>Likes</h5>
                                        <p style="font-size:18px;"><i style="color:dodgerblue;font-size:22px;" class="fa fa-thumbs-up"></i>@Model.Category.LikeCount</p>
                                        <div id="comments" class="comments-area comments-area-wrapper">
                                            <h4 class="comments-title">Reviews</h4>
                                            @foreach (var comment in Model.Category.Comments)
                                            {
                                                <ul class="comment-list">
                                                    <li class="comment">
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="desc">
                                                                    <div class="d-flex justify-content-between comment_title">
                                                                        <div class="d-flex align-items-center">
                                                                            <h5>@comment.Author.FirstName&nbsp;@comment.Author.LastName</h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <p>@comment.Text</p>
                                                                    </div>
                                                                    <p><i style="color:dodgerblue;" class="fa fa-thumbs-up"></i>@(comment.Rating == null ? 0 : comment.Rating)</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                            <div id="respond" class="comment-respond">

                                                <h3 class="comment-reply-title">Leave a review</h3>

                                                @await Component.InvokeAsync("Comment", new {id = Model.Category.Id})

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- biography end -->

                    </div>
                    <div class="col-lg-4">
                        <div class="class-right-content widget-area sidebar">
                            <div class="widget">
                                <div class="thumb only-thumb">
                                    <img class="mt-0" src="/assets/img/blog/big-thumb.png" alt="">
                                </div>
                            </div>

                            @*Redirect to programs categories*@

                            <div class="widget widget_categories">
                                <h5 class="widget-title">Categories</h5>
                                <ul class="cat-menu">
                                    <li><a href="#">Beginner</a></li>
                                    <li><a href="#">Intermediate</a></li>
                                    <li><a href="#">Advanced</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- class details end -->
    <!-- home trainer start -->
    <div class="trainer-area bg-none padding-top-93">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center padding-bottom-47">
                        <p class="subtitle">Your Best Partner</p>
                        <h1 class="title">Your trainer</h1>
                    </div>
                </div>
            </div>
            <div class="row class-slider">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img src="/assets/img/home/trainer/1.png" alt="trainer">
                            </div>
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="content">
                                <h3>Surunjit Kumar Das</h3>
                                <h6>Fitness Trainer</h6>
                                <p>Praesent a diam at velit finibus vehicula sit amet eu dui. Vestibulum rutrum dignissim arcu, vitae convallis</p>
                                <ul class="social">
                                    <li class="icon-list">
                                        <a href="https://twitter.com/officialthenx" class="icon-text">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="icon-list">
                                        <a href="https://www.facebook.com/OfficialTHENX" class="icon-text">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="icon-list">
                                        <a href="https://www.instagram.com/thenx/" class="icon-text">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="icon-list">
                                        <a href="https://www.youtube.com/user/TheMiamiTrainer/videos" class="icon-text">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img src="/assets/img/home/trainer/2.png" alt="trainer">
                            </div>
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="content">
                                <h3>Dorothy D. Nabors</h3>
                                <h6>Gym Trainer</h6>
                                <p>Praesent a diam at velit finibus vehicula sit amet eu dui. Vestibulum rutrum dignissim arcu, vitae convallis</p>
                                <ul class="social">
                                    <li class="icon-list">
                                        <a href="https://twitter.com/officialthenx" class="icon-text">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="icon-list">
                                        <a href="https://www.facebook.com/OfficialTHENX" class="icon-text">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="icon-list">
                                        <a href="https://www.instagram.com/thenx/" class="icon-text">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="icon-list">
                                        <a href="https://www.youtube.com/user/TheMiamiTrainer/videos" class="icon-text">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home trainer end -->

    <partial name="~/Views/Shared/Partials/_OurClientsSayPartial.cshtml" />

    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>

    <script src="/assets/js/star-rating.js"></script>


</body>
</html>