@model IEnumerable<ProgramViewModel>
{
    ViewData["Title"] = "Programs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1 classes-breadcrumb-overlay" style="background-image:url(/assets/img/bg/programs.jpg);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Programs</h1>
            <ul class="page-list margin-bottom-2">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Programs" asp-action="Index">Program</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- home shopping start -->

    <div class="all-classes-area">

        <div class="container all-class-slider">

            <div class="row classes-items text-center">
                @foreach (var program in Model)
                {
                    <div class="col-lg-4">

                        <div class="single-class-item">

                            <div class="top-content">
                                <div class="content-img">
                                    <img src="@program.ImageUrl" alt="program">
                                </div>
                                <div class="hover-content">
                                    <div class="btn-wrapper desktop-center">
                                        <a asp-controller="Programs" asp-action="Details" asp-route-id="@program.Id" class="btn btn-element btn-normal-size btn-rounded">Details</a>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <h3><a asp-controller="Programs" asp-action="Details" asp-route-id="@program.Id">@program.Title</a></h3>
                                <p>@program.Description</p>
                                <h4>Course Type:&nbsp;<span class="text-danger">@program.Type </span></h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- home shopping end -->

    <partial name="~/Views/Shared/Partials/_ExploreMembershipPartial.cshtml" />

    <partial name="~/Views/Shared/Partials/_OurClientsSayPartial.cshtml" />

    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- counter up -->
    <script src="/assets/js/counter-up.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>