
<div class="col-lg-5">
    <div id="invoice" class="invoice">
        <div class="invoice-top">
            @{
                Random random = new Random();
                int invoiceNumber = random.Next(1000, 10000);
            }
            <h2>Invoice # @invoiceNumber Summary</h2>
            <h6>Estimated Delivery : @(DateTime.UtcNow.AddDays(2).ToString("dd/MM/yyyy"))</h6>
        </div>
        <div class="invoice-bottom">
            <ul class="single-item">
                @foreach (var product in Model)
                {
                    <li class="single-cart-item">
                        <div class="thumb">
                            <img src="@product.ImageUrl" alt="">
                        </div>
                        <div class="content">
                            <h3>@product.Name<br> <span>@product.Description</span></h3>
                            <span>@product.Price</span>
                        </div>
                    </li>
                }

            </ul>
            <div class="total">
                <h3>Total</h3>
                @{
                    decimal totalPrice = 0;
                }
                @foreach (var product in Model)
                {
                    totalPrice += product.Price;
                }
                <p class="text-right">$@totalPrice</p>
            </div>
            <div class="btn-wrapper desktop-center">
                <a asp-controller="ShoppingCarts" asp-action="Index" class="btn btn-element btn-lg-size btn-main-color btn-rounded btn-continue">Continue To Payment</a>
            </div>

            <div class="btn-wrapper desktop-center">
                <button onclick="javascript: hideDiv(); showBtn()" class="btn btn-invoice">Cancel Invoice <i class="fa fa-long-arrow-right"></i></button>

            </div>

        </div>
    </div>
    <button id="get" onclick="javascript: showDiv();hideBtn()" class="btn btn-invoice">Get Invoice <i class="fa fa-long-arrow-right"></i></button>
</div>

<script language=javascript type='text/javascript'>
    function hideDiv() {
        if (document.getElementById) {
            document.getElementById('invoice').style.visibility = 'hidden';
        }
    }
    function showDiv() {
        if (document.getElementById) {
            document.getElementById('invoice').style.visibility = 'visible';
        }
    }
    function showBtn() {
        if (document.getElementById) {
            document.getElementById('get').style.visibility = 'visible';
        }
    }
    function hideBtn() {
        if (document.getElementById) {
            document.getElementById('get').style.visibility = 'hidden';
        }
    }
    window.onload = function () {
        document.getElementById('get').style.visibility = 'hidden';
    };
</script>
