@model IList<ProductsShoppingBagViewModel>
@{
    ViewData["Title"] = "Shopping Bag";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> @ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1 cart-breadcrumb-overlay" style="background-image:url(/assets/img/bg/shopping-bag.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Shopping Bag</h1>
            <ul class="page-list margin-bottom-0 margin-top-10">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="ShoppingBags" asp-action="Index">Shopping Bag</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- cart content start -->

    <section class="cart-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-title">
                        <h2>@(Model.Count() == 0 ? "Your shopping bag is empty" : "Product List")</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="single-cart-list">
                        <table class="table table-borderless">
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td><a asp-controller="ShoppingBags" asp-action="Delete" asp-route-id="@product.Id">X</a></td>
                                        <td><img src="@product.ImageUrl" alt=""></td>
                                        <td><p class="font-semibold">@product.Name</p></td>
                                        <td><p>$@product.Price</p></td>
                                        <td>
                                            <div class="input-group mb-2">
                                                <div class="input-group-prepend">
                                                    <a asp-controller="Orders" asp-action="Quantity" asp-route-id="@product.Id" asp-route-quantity="@(product.Quantity-1)" class="btn btn-sm" id="minus-btn4"><i class="fa fa-minus"></i></a>
                                                </div>
                                                <input type="number" id="qty_input4" class="form-control form-control-sm" value="@product.Quantity" min="1">
                                                <div class="input-group-prepend">
                                                    <a asp-controller="Orders" asp-action="Quantity" asp-route-id="@product.Id" asp-route-quantity="@(product.Quantity+1)" class="btn btn-sm" id="plus-btn4"><i class="fa fa-plus"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="coupon-title">
                            <h2>Have a coupon?</h2>
                            <p class="text-danger">Write your code and take 10% discount!</p>
                        </div>
                        <div class="apply-coupon-form">
                            <div class="input-group margin-top-30">

                                @await Html.PartialAsync("~/Views/Shared/Partials/_CouponPartial.cshtml",
                                         new CouponViewModel())

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart-total-list">
                        <div class="total-title">
                            <h2>Cart totals</h2>
                        </div>
                        <div style="height:auto;" class="cart-price">
                            @if (Model.Count == 0)
                            {
                                <p>
                                    Charges
                                    <span class="float-right text-right">$0</span>
                                </p>
                            }

                            @foreach (var product in Model)
                            {
                                <p>
                                    @product.Name
                                    <span class="float-right text-right">$@product.Price</span>
                                </p>

                            }

                        </div>
                        <div class="cart-price-total">
                            @{
                                decimal totalPrice = 0;
                            }
                            @foreach (var product in Model)
                            {
                                totalPrice += product.Price;
                            }
                            <p>Total Price <span class="float-right text-right">$@totalPrice</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cart content end -->
    <!-- delivery-area start -->
    <div class="delivery-area padding-top-100">
        <div class="container">
            <div class="row">

                @await Component.InvokeAsync("DeliveryOptions")

                @await Component.InvokeAsync("InvoiceSummary")

            </div>
        </div>
    </div>
    <!-- delivery-area end -->
    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- counter up -->
    <script src="/assets/js/counter-up.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>