@model IEnumerable<PostDetailsSidebarViewModel>

<div class="col-lg-4">
    <div class="blog-right-content widget-area sidebar">
        <div class="widget widget_search">
            <form method="post" asp-controller="Posts" asp-action="Search" class="search-form">
                <div class="form-group">
                    <input  type="text" name="search" class="form-control" placeholder="Search here">
                </div>
                <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="widget latest-post-widget">
            <div class="eidget-title">
                <h1>Latest posts</h1>
            </div>
            @foreach (var post in Model)
            {
                <div class="share-img-item">
                    <div class="img-part">
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id"><img src="@post.ImageUrl" alt="post-image"></a>
                    </div>
                    <div class="content-part">
                        <h4>@post.Title</h4>
                        <span class="text">@post.Description</span>
                    </div>
                </div>
            }

        </div>
        <div class="widget">
            <div class="thumb only-thumb">
                <img src="/assets/img/blog/big-thumb.png" alt="">
            </div>
        </div>

        <div class="widget widget_categories">
            <h5 class="widget-title">Categories</h5>
            <ul class="cat-menu">
                @{ int counter = 0;
                    var customSort = string.Empty;

                }
                @foreach (var sort in Enum.GetValues(typeof(CategoryType)))
                {
                    counter++;

                    if (counter == 1)
                    {
                        customSort = "How To";
                        <li>@Html.ActionLink(customSort, "Sort", "Posts", new { sort = customSort })</li>
                    }
                    if (counter == 2)
                    {
                        customSort = "Beginner Calisthenic";
                        <li>@Html.ActionLink(customSort, "Sort", "Posts", new { sort = customSort })</li>
                    }
                    else if (counter == 3)
                    {
                        customSort = "Advanced Calisthenic";
                        <li>@Html.ActionLink(customSort, "Sort", "Posts", new { sort = customSort })</li>
                    }
                    else if (counter == 4)
                    {
                        <li>@Html.ActionLink(sort.ToString(), "Sort", "Posts", new { sort = sort.ToString() })</li>
                    }
                    else if (counter == 5)
                    {
                        customSort = "Workout/Training";
                        <li>@Html.ActionLink(customSort, "Sort", "Posts", new { sort = customSort })</li>
                    }
                    else if (counter == 6)
                    {
                        customSort = "Skills/Techniques";
                        <li>@Html.ActionLink(customSort, "Sort", "Posts", new { sort = customSort })</li>
                    }

                }

            </ul>
        </div>
    </div>
</div>