@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Product-Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1" style="background-image:url(/assets/img/bg/shop-details.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Product Details</h1>
            <ul class="page-list">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Products" asp-action="Details">Product Details</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    @if (this.TempData["InfoMessage"] != null)
    {
        <div class="alert alert-success">
            @this.TempData["InfoMessage"]
        </div>
    }
    <!-- product-details-tab start -->
    <div class="product-details-tab padding-top-100 padding-bottom-97">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="slider-tabfor">
                        @foreach (var image in Model.Images)
                        {
                            <div class="single-item">
                                <img src="@image" alt="">
                            </div>
                        }

                    </div>
                    <div class="slider-tabnav">
                        @foreach (var image in Model.Images)
                        {
                            <div class="single-item">
                                <div class="img">
                                    <img src="@image" alt="">
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="content-part">
                        <h2>@Model.Name<br><span>@Model.Category</span></h2>
                        <span class="specifications mt-2">Color: @(Model.Color == "" ? "N/A" : Model.Color)</span>
                        <span class="specifications">Size: @(Model.Size == "" ? "N/A" : Model.Size)</span>
                        @{
                            decimal spanPrice = Model.Price + (Model.Price * 0.2M);
                        }
                        <p class="price">Price: $@Model.Price <span>$@spanPrice.ToString("0.00")</span> </p>
                        <p class="text-dark">@Model.Description</p>
                        <div class="btn-wrapper">
                            <a asp-controller="Orders" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-element btn-medium-size btn-main-color btn-rounded">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-tab end -->

    <div class="product-specification padding-bottom-95">
        <div class="container">
            <div class="row">
                <div class="biography-area">
                    <div class="biography-content">
                        <ul class="nav nav-pills">
                            <li>
                                <a data-toggle="pill" href="#home" class="active">Description</a>
                            </li>
                            <li>
                                <a data-toggle="pill" href="#review">Review</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active show">
                                <div class="tab-content-description">
                                    <div class="class-content">
                                        <span class="text-danger">@(Model.IsSoldOut == true ? "SOLD OUT" : "In stock")</span>
                                        <p>@Model.Description</p>
                                    </div>
                                    <div class="class-list d-sm-flex justify-content-between text-dark">
                                        <ul style="list-style: none;">
                                            <li><i style="color:#88C13E;" class="fa fa-check"></i> Pellentesque pellentesque odio et porta.</li>
                                            <li><i style="color:#88C13E;" class="fa fa-check"></i> Proin et augue et justo accumsan.</li>
                                            <li><i style="color:#88C13E;" class="fa fa-check"></i> Donec viverra urna id congue.</li>
                                        </ul>
                                        <ul style="list-style: none;">
                                            <li><i style="color:#88C13E;" class="fa fa-check"></i> Pellentesque pellentesque odio et porta.</li>
                                            <li><i style="color:#88C13E;" class="fa fa-check"></i> Proin et augue et justo accumsan.</li>
                                            <li><i style="color:#88C13E;" class="fa fa-check"></i> Donec viverra urna id congue.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div style="width:700px;" id="review" class="tab-pane fade">
                                <div class="tab-content-description">
                                    <div id="comments" class="comments-area comments-area-wrapper">
                                        <a asp-controller="Products" asp-action="Rate" asp-route-id="@Model.Id" class="btn-primary p-1 pl-3 pr-3">Like</a>
                                        <p class="text-dark mt-2"><i style="color:dodgerblue;font-size:22px;" class="fa fa-thumbs-up"></i><a class="text-dark" id="likes">@(Model.Rating == null ? 0 : Model.Rating)</a></p>
                                        <div id="comments" class="comments-area comments-area-wrapper">
                                            <h4 class="comments-title">Reviews</h4>
                                            @foreach (var comment in Model.Comments.OrderByDescending(c => c.CreatedOn))
                                            {
                                                <ul class="comment-list">
                                                    <li class="comment">
                                                        <div class="single-comment justify-content-between d-flex">
                                                            <div class="user justify-content-between d-flex">
                                                                <div class="desc">
                                                                    <div class="d-flex justify-content-between comment_title">
                                                                        <div class="d-flex align-items-center">
                                                                            @if (comment.Author.FirstName == "Svetoslav" && comment.Author.LastName == "Kazakov")
                                                                            {
                                                                                <h5 class="text-danger">Admin</h5>
                                                                            }
                                                                            else
                                                                            {
                                                                                <h5>@comment.Author.FirstName&nbsp;@comment.Author.LastName</h5>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <div class="comment-content">
                                                                        <p>@comment.Text</p>
                                                                    </div>
                                                                    <span class="text-dark">@comment.CreatedOn.ToString("dd/MM/yyyy")</span><br /><br />
                                                                    <a asp-controller="Comments" asp-action="Rate" asp-route-id="@comment.Id" class="btn-primary pt-1 pb-1 pl-2 pr-2" style="font-size:15px;">Like</a>
                                                                    <p class="text-dark mt-2"><i style="color:dodgerblue;font-size:22px;" class="fa fa-thumbs-up"></i><a class="text-dark" id="likes">@(comment.Rating == null ? 0 : comment.Rating)</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                            <div id="respond" class="comment-respond">
                                                <h3 class="comment-reply-title">Leave A Comment</h3>

                                                @await Html.PartialAsync("~/Views/Shared/Partials/_CommentPartial.cshtml",
                                                 new CommentInputViewModel { Id = Model.Id })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shopping-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title padding-top-93 padding-bottom-60 text-center">
                                    <h3 class="subtitle">Related Products</h3>
                                </div>
                            </div>
                        </div>

                        @await Component.InvokeAsync("HomeProducts")

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- counter up -->
    <script src="/assets/js/counter-up.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>